<h5>Please make a bet $(1 - <%= session[:pot] %>): </h5>
<p>
  <form action="/bet" method="post">
    <input type="text" name="bet_amount">
    </br>
    <input type="submit" style="btn btn-primary" value="Bet">
  </form>
</p>

